* {
    box-sizing: border-box;
}
html {
    
    font-family: "Open Sans", sans-serif;
    font-size: 62.5%;
    overflow-x:hidden;
}
html,body{
    height:100%;
    margin:0;
    padding:0;
}

ul,ol,h1,h2,p,img{
    margin:0;
    padding:0;
}
img {
    object-fit: cover;
    object-position: center;
    display:block
}

/** Body styles */
body {
    width:100%;
    max-width: 1280px;
    font-size:1.6rem;
    line-height: 1.5;
    background-color:#ffffff;
    color:#000;
    min-height:100svh;
    
}
.container {
    display:flex;
    flex-direction: column;
    min-height:100svh;
}

main{
    display:flex;
    flex-direction: column;
    margin: 4.8rem 4.8rem 6.4rem 4.8rem;
    background: #ffffff;;
    gap:2.4rem;
}

h1{
    color:#A10000;
    font-size: 2.8rem;
    font-weight:700;
}

h2{
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom:1.2rem;
}

.intro{
    background-color:#ebebeb;
    font-size:1.6rem;
    padding:1.0rem;
}

section {
    display:flex;
    flex-direction: column;
    gap:2.4rem;
}
header {
    width:100%;
    overflow:hidden;
}
header img {
    width:100%;
    max-width:100%;
    height:500px;
    display:block;
    
}

.ingredienser p{
    margin-top:1.6rem;
    margin-bottom:1.6rem;
    font-size:1.6rem;
}

ul li,ol li{
    margin-bottom:0.8rem;
    line-height:1.5;
    margin-left:2.4rem;

}
.servering-types{
    display: flex;
    justify-content: space-between;
    gap: 2.4rem;
}
.servering-types img{
    width:100%;
    height: 460px;
    flex: 1 1 45%;
}

@media (max-width: 600px){
    html {
        font-size: 50%;
    }
     main{
        margin: 4.8rem 1.6rem 6.4rem 1.6rem;
    }
    header img {
        height: 500px;
    }
    .servering-types{
        flex-direction: column;
    }
    .servering-types img{
        width: 100%;
        height: 200px;
        object-position: 50% 35%;
    }
}


@media (max-width: 375px){
     html {
        font-size: 40%;
    }
    header img{
        height: 150px;
    }

    .servering-types img{
     height: 50px;
     
    }
}
